Backend/node_modules
/node_modules
Backend/config/dev.env
*.env
frontend-user/node_modules
notes.json
frontend-user/.vite
frontend-user/dist
frontend-user/.vite
Backend/.vscode/launch.json
Backend/clinetSideApp
Backend/notes.json
Backend/project plock digram.png
.gitignore
Backend/bugs.txt
Backend/EshareBooks_Presentation.pptx
ERD.jpg
EshareBooks_Presentation.pdf
EshareBooks_Presentation.pptx
